/* @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap'); */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #455a64 url('imges/bg.webp') 0 0 repeat;
	color: #FBC02D;
	font: 24px 'Courier New', Courier, monospace;
	/* font: 24px 'Anonymous Pro', monospace; */
	padding: 0 30px 100px;
}

a,
button {
	color: #E57373;
	text-decoration: none;
	transition: all 0.25s ease 0s;
}

a:hover,
button:hover {
	font-weight: 700 !important;
	color: #EF5350;
}

ol {
	padding: 0 25px;
	list-style: none;
}

.styled__list {
	list-style: disc;
}

ol li {
	border: 1px solid #263238;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 15px;
}

ol h3 {
	margin: 5px 5px 15px;
}

ol p {
	padding: 0 15px;
	margin: 0;
}

ol a,
button {
	display: inline-block;
	color: #E57373;
	height: 55px;
	line-height: 58px;
	border-radius: 6px;
	background: #263238;
	padding: 0 15px;
	font-weight: normal;
	font-size: 36px;
}

ol a:hover,
button:hover {
	background: #00838F;
	cursor: pointer;
}

button {
	line-height: 55px;
	appearance: none;
	border: none;
	font: inherit;
	margin: 0 15px 15px 0;
}

.result_body h1,
.result__body h1 {
	color: #3c6;
	border-bottom: 2px solid #5C6BC0;

}

.result_body table,
.result__body table {
	border-spacing: 0;
	text-align: left;
}

.result_body tr,
.result_body th,
.result_body td,
.result__body tr,
.result__body th,
.result__body td {
	padding: 8px 15px;
	border: 2px solid #00838F;
}